version: 2
jobs:
  build:
    branches:
      only:
        - main
    docker:
      - image: maciejmalecki/c64libci:0.1.4

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout:
          post:
            - git submodule sync --recursive
            - git submodule update --recursive --init

      - run: ./gradlew build
